* {
    font-family: 'Merriweather', serif;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #434547;
}

body {
    max-width: 100vw;
    position: x;
}

/* Grid Layout */

#grid  {
    max-width: 100%;
    display: grid;
    grid-template-columns: 60px minmax(0, 1fr);
    grid-template-rows: 60px 60px minmax(0, 1fr);
    grid-template-areas: 
    "header header"
    "side upper"
    "side main";
    min-height: 100vh;
}

/* Header */

header {
    color: white;
    grid-area: header;
    background-color: rgb(145, 163, 125);
    padding: 7px 15px;
    display: flex;
    font-size: 1rem;

}

#app-name {
    padding-top: 10px;
    color: white;
    font-weight: 300;
    margin-right: auto;
}

#app-name span {
    color: white;
    font-weight: 600;
}

.trade-mark {
    position: absolute;
    top: 7px;
    color: white;
    font-size: .5rem;
}

#header-right {
    display: flex;
    margin-left: auto;
    flex-wrap: nowrap;
}

#header-right * {
    margin-right: 10px;
}

#bell {
    margin-top: 5px;
    width: 25px;
}

header .vl {
    width: 1.2px;
    height: 40px;
    background-color: rgb(106, 124, 89);
    margin-top: 5px;
}

#user-photo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 7px;
}

#user-name {
    margin-top: 10px;
    color: white;
    margin-right: 0;
}

/* Upper */

#upper {
    grid-area: upper;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    background-color:rgb(233, 240, 232);
    padding-right: 7px;
}

#heading-container {
    margin-right: auto;
}

#upper h1{
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    padding-top: 16px; 
    background-color: rgb(248, 252, 248);
    font-size: .9rem;
    font-weight: 300;
}

#search-bar {
    max-width: calc(100% - 114px);
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 60%;
    background-color: rgb(255, 255, 255);
    min-width: 0;
    flex-grow: 1;    
    border: none;
    border-radius: 5px;
    font-size: .9rem;
}

#search-bar:focus {
    border: 8px inset rgb(252, 250, 250);
    outline: none;
}




/* Side Navigation */

#side-nav {
    grid-area: side;
    background-color: rgb(83, 97, 32);
    text-align: center;
}

#side-nav img {
    width: 40%;
}

.img-container {
    position: relative;
    margin-top: 35px;
    width: 100%;
}

#side-nav .img-container:first-child {
    border-left: 3px solid greenyellow;
    border-top: 3px solid rgb(83, 97, 32);
    border-bottom: 3px solid rgb(83, 97, 32);
    border-right: 3px solid rgb(83, 97, 32);
}

/* Main */

main {
    grid-area: main;
    background-color: rgb(248, 252, 248);
    padding: 15px 15px;
}



.alert {
    position: relative;
    margin: 0 auto;
    background-color: rgb(145, 163, 125);
    padding: 15px 15px;
    margin-bottom: 30px;
}

.alert * {
    font-size: .9rem;
    color: white;
}

.alert-title {
    font-weight: 600;
    padding-right: 10px;
}

.close-sign {
    position: absolute;
    top: 7px;
    right: 7px;
    font-weight: 600;
}

.widget {
    margin-top: 25px;
}

.widget canvas {
    min-width: 0;
    max-width: 100%;
}

.widget h2 {
    font-size: 1.3rem;
    margin-bottom: 15px;
}

@media only screen and (min-width: 450px) {
    #search-bar {
        max-width: 270px;
    }

}


